@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

* {
    color: black;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
  }
  .wrapper{
    width: 85%;
    max-width: 1950px;
    margin: 0 auto;
  }
  button:hover{
    cursor: pointer;
  }
  img{
    width: 100%;
  }
  .swiper-button-next, .swiper-button-prev {
    color: black !important;
}
.card {
    width: 350px !important; /* Fixed width */
    height: 300px; /* Fixed height */
}










.slider-container {
    overflow: hidden;
    position: relative; /* Relative positioning for slider track */
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth transition */
    gap: 20px;
}

.slider-track img {
    width: 20%; /* Adjusting image width */
    border-radius: 0.5rem;
}
/* Scrollbar customization */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #d4d4d8;
  border-radius: 4px;
}
.carousel-item {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}



.owl-theme .owl-dots {
    text-align: center;
    margin-top: 10px;
    display: block !important;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block !important; /* Ensure dots are in a row */
    margin: 0 5px; /* Add spacing between dots */
}
